@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

*{
    word-wrap: break-word;
}

.sitedesing{
    margin: 0 auto;
    width: 50%;
    background-color: #dddddd;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 2px black;
}
header nav ul{
    text-align: center;
}
header>nav>ul>li{
    font-size: 22px;
    display: inline;
    width: 100px;
    padding: 7px;
    cursor: pointer;
    text-align: center;
}
header>nav>ul>li>a {
    text-decoration: none;
    color: deepskyblue;
    word-wrap: break-word;
    transition: all 0.5s;
}
header>nav>ul>li>a:hover{
    color: dodgerblue;
    font-size: 25px;
}
header>h1{
    color: 	black;
    font-size: 40px;
}
header>h1>a{
    text-decoration: none;
    color: royalblue;
    transition: all 0.5s;

}
header>h1>a:hover{
    color: blue;
    font-size: 45px;
}
main .jokedate{
    font-style: italic;
    font-size: 17px;
    text-align: center;
}
main p{
    color: green;
    font-size: 18px;
}
footer>section{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
footer>section>ul>li>a{
    text-decoration: none;
    color: limegreen;
    transition: all 0.5s;

}
footer>section>ul>li>a:hover{
    color: darkgreen;
    font-size: 20px;
}
footer>section>div>div{
    width: 70px;
    height: 58px;
    background: url("social.jpg");
    display: inline-block;}


.twitter { background-position: 770px 0px;}
.youtube{  background-position: 325px 0px}
.github { background-position: 70px 0px;}
.facebook, .github, .twitter, .youtube{ cursor:pointer; }
.facebook:hover { background-position: 0 60px;}
.github:hover { background-position: 70px 185px;}
.twitter:hover { background-position: 770px 185px;}
.youtube:hover { background-position: 325px 185px;}



@media screen and (max-width: 1024px){
    .sitedesing{
        width: 100%;
    }
    main p{
        font-size: 15px;
    }
}
@media screen and (max-width: 480px){
    header nav ul li{
        display: flex;
        flex-direction:column;
        margin: 0 auto;
        font-size: 20px;
    }
    header>h1{
        color: 	black;
        font-size: 30px;
    }
    main p{
        font-size: 13px;
    }
    footer ul li{
        display: flex;
        flex-direction:column;
    }
}

